@import url('https://fonts.googleapis.com/css2?family= Roboto & display=swap');

#meu_menu {
    /* Abrindo o id do menu */
    text-align: right;
    /* padding margin interna */
    padding-right: 60px;
    /* colocando borda inferior */
    border-bottom: solid;
    /* tamanho da fonte do meu menu */
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

/* Fechando o id do menu */
/* Fechando a classe mãe */

#meu_menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Colocando efeito de sobre no menu */

#meu_menu a:hover{
    color: rgb(234, 43, 0);
    background-color: rgb(255, 209, 209);
    transition: .3s;
    opacity: 0.7;
}
/* Trabalhando com a classe título */

.titulo{
    text-align: center;
    background-color: rgb(234, 43, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 1px 10px black;
    height: 40px;
}

/* Trabalhando com a div da imagem */

#fundo{
    display: flex;
    justify-content: center;
}

img{
    width: 30%;
}
/* Trabalhando com a div principal */

.master{
    display: flex;
}

.col_esquerda{
    margin-right: 30px;
    text-align: justify;
}

.col_direita{
    margin-right: 30px;
    text-align: justify;
}

.titulo_col{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(234, 43, 0);
}
